/* start style navbar */

nav {
    color: rgb(255, 255, 255);
}

nav a {
    color: rgb(117, 117, 117);
    text-decoration: none;
}

button {
    width: 100%;
}


/* start style navbar */


/* start style navbar */